.bookmark-header  {
    border: 5px solid black;
    width: 100%;
    height: 70px;
    font-family: 'Abril Fatface', sans-serif;
    background-image: url('../images/black-strips.png');
    /* background-color: #358597; */
    color: white;
    position: sticky;
}

.bookmark-header ul li, h1 {
    display: inline-block;
}

.bookmark-header h1 {
    float: left;
    margin: 0px;
}
 
body {
    font-family: menlo, sans-serif;
}

header a {
    font-size: 16px;
    color: white;
}

footer {
    background-image: url('../images/footer-background.jpeg');
    border: 5px solid black;
    margin: 10px 10px 0px 0px;
    padding: 20px;    
    width: 100%;

}

#about h6, p, li{
    color: white;
}

#about h6 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold; 
    font-size: 20px;
}

#about ul ul li a {
    color: orange;
}

#about ul ul li a:hover {
    border: 5px solid lightblue;
    background-color: darkblue;

}

#about p {
    font-weight: bold;
    text-decoration: underline;
}

.nav-item input[type=text] {
    float: right;
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', sans-serif;
    height: 30px;
    color: black;
  }

img {
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 20px;
}


/* .middle-section .books .containers {
    margin: 100px;
}

.middle-section {
    border: 2px solid black;
    width: 100%;

}  */

.image-boxes .container .image2, .image3, .image0, .image1 {
    display: inline-block;
    border: 2px solid black;
    padding: 50px;
    width: 500px;
    margin: 40px;
}

figcaption {
    color: black;
    font-size: 13px;
    padding: 5px;
}

.discover h5 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 200px;
    padding: 50px;
    color: white;
    background-image: url('/images/black-strips.png');
    /* background-color: #358597; */

}

.discover span {
    font-size: 16px;
}


.discover h5, span {
    color: white;
}
