html{
    font-size: 16px;
}

/* Header styling begins here */

h3 {
    font-family: 'Abril Fatface', sans-serif;
    margin-left: 25rem;
    text-decoration: underline;
    color: black;
}

body {
    --text-color: #222;
    --bkg-color: #fff;
  }
  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        
      --text-color: #eee;
      --bkg-color: #121212;
    }
    body.light-theme {
      --text-color: #222;
      --bkg-color: #fff;
    }
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: var(--bkg-color);
  }
  

  /* .buttn button {
      margin-top: 20px;
      padding: 40px;
      color: white;
      
  } */


/* Dark Mode Code */

/* @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  
  } */


  .buttn {
    margin-top: 5px;
    background: url('../images/galaxy.jpeg');
    color: white;
    /* text-shadow: 3px 3px 0 #18e657, 
    6px 6px 0 #bf189b, 
    9px 9px #ffeb00, 
    12px 12px black; */
  }
  .buttn:hover {
      color:#f5ba1a;
  }
.bkimg img {
    display:block;
    width:100%; height:100%;
    object-fit: cover;

}

.Animation img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bookmark-header {
    border: 5px solid black;
    width: 100%;
    height: 70px;
    font-family: 'Abril Fatface', sans-serif;
    background-image: url('../images/galaxy.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
    /* background-color: #358597; */
    color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    /* overflow: hidden; */
}

.bookmark-header h1 a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    text-shadow: 3px 3px 0 #18e657, 
                 6px 6px 0 #bf189b, 
                 9px 9px #ffeb00, 
                 12px 12px black;

}

.bookmark-header li a:hover {
    color: #f5ba1a;
}

.bookmark-header h1 {
    padding-top: 7px; 
    padding-left: 75px;
}

.bookmark-header h1 img{
    padding-top: 0px; 
}


.bookmark-header ul li {
    margin-top: 16px;
}

.bookmark-header ul li, h1 {
    display: inline-block;
}

.bookmark-header h1 {
    float: left;
    margin: 0px;
}

@media only screen and (max-width: 720px) {
    .bookmark-header ul li {
        font-size: 0.5rem;
        overflow: hidden;
    }
    .bookmark-header .search {
        font-size: 0.5rem;
        display: none;
    }
    .bookmark-header h1 a {
        font-size: 1.5rem;
    }
}
 
body {
    font-family: menlo, sans-serif;

}

header a {
    font-size: 16px;
    color: white;
}


.nav-item input[type=text] {
    float: right;
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', sans-serif;
    height: 30px;
    color: black;
  }

  /* Header styling ends here */

/* Styling of all the images inside the top reviews section */

.book-panel-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    box-sizing: border-box;
    display: grid;
    min-height: 0;
    min-width: 0;
    width: auto;
    grid-template-columns: 500px 500px;
    grid-template-rows: repeat(8, 250px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-area:auto;
}

@media (min-width: 768px) {
    .book-panel {
        grid-column-gap: 24px;
        grid-template-columns: 154px auto;
    }

}

.book-panel {
    display: grid;
    position: relative;
    width: auto;
    grid-column-gap: 45px;
    /* align-items: center; */
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.book-panel-grid .book-panel:after {
    border-bottom: 2px solid rgba(42,42,42,.05);
    content: " ";
    width: 100%;
    height: 2px;
    bottom: -24px;
    position: absolute;
}

.book-panel .cover {
    grid-row: span 3;
    display: block;
    overflow: hidden;
    
}
.book-panel .cover a {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    
}


@media (min-width: 768px) {
    .book-panel .cover .book-cover {
        height: 246px;
        width: 154px
    }    
}

.book-panel .cover .book-cover {
    height: 157px;
    width: 154px;
}

.book-panel .cover .book-cover .book-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    content: " ";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.book-panel .info {
    align-self: start;
    display: block;
}

.book-panel .info h5, p {
    color: black;
}

.book-panel .info p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 8px;
    color: black;
}

@media (max-width: 1023px) {
.book-panel .description {
    margin-top: 8px;
    grid-column: span 2;
}
}

/* Styling of the images inside the top reviews ends here */

/* Styling of the discover section */

/* .discover {

} */

.discover h5{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 200px;
    padding: 50px;
    color: white;
    background-image: url('../images/galaxy.jpeg');
    /* background-color: #358597; */

}

.discover span{
    font-size: 16px;
}

/* The discover section styling ends here */



@media only screen and (max-width: 720px) {
    .discover h5, span {
        font-size: 0.75rem;
        height: auto;
        width: 80%;
        margin-left: 10%;
    }
}


    /* Features */

    


/* Styling the latest Reviews section */

.latest-review {
    /* display: inline-block; */
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    width: 1300px;

}
.latest-review img {
    width: 350px;
    height: 550px;

}

.latest-review p {
    margin: 20px;
    display:inline;
    vertical-align: center;
}

/* Latest reviews styling ends here */

/* This is the section for the recommended books */

/* .grid-container figcaption {
    display: block;

} */

.Rec-Section {
    background: url(../images/cb.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Rec-Section h3 {
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 0 #18e657, 
    6px 6px 0 #bf189b, 
    9px 9px #ffeb00, 
    12px 12px black;
}

.grid-container .DC, .grid-container .Marvel{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.grid-container .DC img{
    /* display: inline-grid; */
    /* border: 2px solid black; */
    width: 550px;
    height: 650px;
    /* margin-left: 500px; */
    /* margin: 0 auto; */
    /* border: 5px solid black; */
    padding: 50px;

}

 .grid-container .Marvel img{
    display: inline-grid;
    /* border: 2px solid black; */
    width: 550px;
    height: 650px;
    /* margin: 0 auto; */
    /* margin-left: 500px; */
    /* border: 5px solid black; */
    padding: 50px;
    
}

/* Styling of the recommendation section ends here */



/* Styling the footer begins here */


   body { color: #ccc }
   .footer-widget p {
       margin-bottom: 27px;
   }
   p {
       font-family: 'Nunito', sans-serif;
       font-size: 16px;
       line-height: 28px;
   }
   
      .animate-border {
     position: relative;
     display: block;
     width: 115px;
     height: 3px;
     background: #007bff; }
   
   .animate-border:after {
     position: absolute;
     content: "";
     width: 35px;
     height: 3px;
     left: 0;
     bottom: 0;
     border-left: 10px solid #fff;
     border-right: 10px solid #fff;
     -webkit-animation: animborder 2s linear infinite;
     animation: animborder 2s linear infinite; }
   
   @-webkit-keyframes animborder {
     0% {
       -webkit-transform: translateX(0px);
       transform: translateX(0px); }
     100% {
       -webkit-transform: translateX(113px);
       transform: translateX(113px); } }
   
   @keyframes animborder {
     0% {
       -webkit-transform: translateX(0px);
       transform: translateX(0px); }
     100% {
       -webkit-transform: translateX(113px);
       transform: translateX(113px); } }
   
   .animate-border.border-white:after {
     border-color: #fff; }
   
   .animate-border.border-yellow:after {
     border-color: #F5B02E; }
   
   .animate-border.border-orange:after {
     border-right-color: #007bff;
     border-left-color: #007bff; }
   
   .animate-border.border-ash:after {
     border-right-color: #EEF0EF;
     border-left-color: #EEF0EF; }
   
   .animate-border.border-offwhite:after {
     border-right-color: #F7F9F8;
     border-left-color: #F7F9F8; }
   
   /* Animated heading border */
   @keyframes primary-short {
     0% {
       width: 15%; }
     50% {
       width: 90%; }
     100% {
       width: 10%; } }
   
   @keyframes primary-long {
     0% {
       width: 80%; }
     50% {
       width: 0%; }
     100% {
       width: 80%; } } 
   





       body { color: #ccc }
       .footer-widget p {
           margin-bottom: 27px;
       }
       p {
           font-family: 'Nunito', sans-serif;
           font-size: 16px;
         color:white;
           line-height: 28px;
       }
       
          .animate-border {
         position: relative;
         display: block;
         width: 115px;
         height: 3px;
         background: #007bff; }
       
       .animate-border:after {
         position: absolute;
         content: "";
         width: 35px;
         height: 3px;
         left: 0;
         bottom: 0;
         border-left: 10px solid #fff;
         border-right: 10px solid #fff;
         -webkit-animation: animborder 2s linear infinite;
         animation: animborder 2s linear infinite; }
       
       @-webkit-keyframes animborder {
         0% {
           -webkit-transform: translateX(0px);
           transform: translateX(0px); }
         100% {
           -webkit-transform: translateX(113px);
           transform: translateX(113px); } }
       
       @keyframes animborder {
         0% {
           -webkit-transform: translateX(0px);
           transform: translateX(0px); }
         100% {
           -webkit-transform: translateX(113px);
           transform: translateX(113px); } }
       
       .animate-border.border-white:after {
         border-color: #fff; }
       
       .animate-border.border-yellow:after {
         border-color: #F5B02E; }
       
       .animate-border.border-orange:after {
         border-right-color: #007bff;
         border-left-color: #007bff; }
       
       .animate-border.border-ash:after {
         border-right-color: #EEF0EF;
         border-left-color: #EEF0EF; }
       
       .animate-border.border-offwhite:after {
         border-right-color: #F7F9F8;
         border-left-color: #F7F9F8; }
       
       /* Animated heading border */
       @keyframes primary-short {
         0% {
           width: 15%; }
         50% {
           width: 90%; }
         100% {
           width: 10%; } }
       
       @keyframes primary-long {
         0% {
           width: 80%; }
         50% {
           width: 0%; }
         100% {
           width: 80%; } } 
       

            /* Footer */
      

           /* HTML CSSResult Skip Results Iframe
           EDIT ON
           *, *:before, *:after {
             box-sizing: border-box;
           }
           
           html {
             font-size: 100%;
           }
           
           body {
             font-family: acumin-pro, system-ui, sans-serif;
             margin: 0;
             display: grid;
             grid-template-rows: auto 1fr auto;
             font-size: 14px;
             background-color: #f4f4f4;
             align-items: start;
             min-height: 100vh;
           }
            */
           .footer {
             display: flex;
             flex-flow: row wrap;
             padding: 30px 30px 20px 30px;
             color: #2f2f2f;
             /* background-color: #fff; */
             background: url(../images/galaxy.jpeg) no-repeat center center fixed; 
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
             border-top: 1px solid #e5e5e5;
           }
           
           .footer > * {
             flex:  1 100%;
           }
           
           .footer__addr {
             margin-right: 1.25em;
             margin-bottom: 2em;
           }
           
           .footer__logo {
             font-family: 'Pacifico', cursive;
             font-weight: 400;
             text-transform: lowercase;
             font-size: 1.5rem;
             color: white;
           }

           
           .footer__addr h2 {
             margin-top: 1.3em;
             font-size: 15px;
             font-weight: 400;
             color:white;
           }
           
           .nav__title {
             font-weight: 400;
             font-size: 15px;
             color: white;
           }
           
           .footer address {
             font-style: normal;
             color:white;
           }
           
           .footer__btn {
             display: flex;
             align-items: center;
             justify-content: center;
             height: 36px;
             max-width: max-content;
             background-color: rgb(33, 33, 33, 0.07);
             border-radius: 100px;
             color:white;
             line-height: 0;
             margin: 0.6em 0;
             font-size: 1rem;
             padding: 0 1.3em;
           }
           
           .footer ul {
             list-style: none;
             padding-left: 0;
           }
           
           .footer li {
             line-height: 2em;
           }
           
           .footer a {
             text-decoration: none;
           }
           
           .footer__nav {
             display: flex;
             flex-flow: row wrap;
           }
           
           .footer__nav > * {
             flex: 1 50%;
             margin-right: 1.25em;
           }
           
           .nav__ul a {
            color:white;
           }
           
           .nav__ul--extra {
             column-count: 2;
             column-gap: 1.25em;
           }
           
           .legal {
             display: flex;
             flex-wrap: wrap;
             color:white;
           }
             
           .legal__links {
             display: flex;
             align-items: center;
           }
           
           .heart {
            color:white;
           }
           
           @media screen and (min-width: 24.375em) {
             .legal .legal__links {
               margin-left: auto;
             }
           }
           
           @media screen and (min-width: 40.375em) {
             .footer__nav > * {
               flex: 1;
             }
             
             .nav__item--extra {
               flex-grow: 2;
             }
             
             .footer__addr {
               flex: 1 0px;
             }
             
             .footer__nav {
               flex: 2 0px;
             }
           }
           
           