html{
    font-size: 16px;
}
h3 {
    font-family: 'Abril Fatface', sans-serif;
    margin-left: 25rem;
    text-decoration: underline;
}

.bkimg img {
    display:block;
    width:100%; height:100%;
    object-fit: cover;

}
.bookmark-header {
    border: 5px solid black;
    width: 100%;
    height: 70px;
    font-family: 'Abril Fatface', sans-serif;
    background-image: url('../images/black-strips.png');
    /* background-color: #358597; */
    color: white;
    position: fixed;
    top: 0px;
    /* overflow: hidden; */
}

.bookmark-header h1 a{
    text-decoration: none;
    font-size: 40px;
    color: white;
}

.bookmark-header h1 {
    margin-top: 25px;
    margin-left: 10px;
}

.bookmark-header ul li {
    margin-top: 16px;
}

.bookmark-header ul li, h1 {
    display: inline-block;
}

.bookmark-header h1 {
    float: left;
    margin: 0px;
}

@media only screen and (max-width: 720px) {
    .bookmark-header ul li {
        font-size: 0.5rem;
        overflow: hidden;
    }
    .bookmark-header .search {
        font-size: 0.5rem;
        display: none;
    }
    .bookmark-header h1 a {
        font-size: 1.5rem;
    }
}
 
body {
    font-family: menlo, sans-serif;
}

header a {
    font-size: 16px;
    color: white;
}


.nav-item input[type=text] {
    float: right;
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', sans-serif;
    height: 30px;
    color: black;
  }



.container img {
    width: 200px;
    height: 250px;
    padding: 0px;
    margin: 20px;
}


/* .middle-section .books .containers {
    margin: 100px;
}

.middle-section {
    border: 2px solid black;
    width: 100%;

}  */

.image-boxes .container .image2, .image3, .image0, .image1 {
    display: inline-block;
    border: 2px solid black;
    padding: 0px;
    width: 500px;
    margin: 40px;
}
.image-boxes .container .image5 {
    display: inline-block;
    border: 2px solid black;
    padding: 0px;
    width: 500px;
    margin: 40px;
}

@media only screen and (max-width: 1400px) {
    .image-boxes .container .image2, .image-boxes .container .image3, .image-boxes .container .image0, .image-boxes .container .image1,.image-boxes .container .image5 {
        display: inline-block;
        overflow: scroll;
        width: 25rem;
    }
}

@media only screen and (max-width: 720px) {
    .image-boxes .container .image2, .image-boxes .container .image3, .image-boxes .container .image0, .image-boxes .container .image1,.image-boxes .container .image5 {
        display: block;
        width: 200px;
        margin: 0 auto;
        height: 300px;
        overflow: scroll;
        margin-bottom: 20px;

    }
    .image-boxes .container ul li {
        display: inline-block;
    }
    img {
        width: 100px;
        height: 150px;
    }
    figcaption {
        font-size: 0.5rem;
    }
}

figcaption {
    color: black;
    font-size: 13px;
    padding: 5px; 
}

.discover h5{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    height: 200px;
    padding: 50px;
    color: white;
    background-image: url('../images/black-strips.png');
    /* background-color: #358597; */

}

.discover span{
    font-size: 16px;
}



@media only screen and (max-width: 720px) {
    .discover h5, span {
        font-size: 0.75rem;
        height: auto;
        width: 80%;
        margin-left: 10%;
    }
}

/* body {
    background-color: whitesmoke;
} */

.latest-review {
    /* display: inline-block; */
    border: 2px solid black;
    margin: 0 auto;
    width: 1300px;

}
.latest-review img {
    width: 350px;
    height: 550px;

}

.latest-review p {
    margin: 20px;
    display:inline;
    vertical-align: center;
}

/* .featured-words {
    border: 2px solid black;
}

.recommended-books {
    border: 2px solid black;
} */

.footerClass {
    background-image: url('../images/black-strips.png');
    margin: 20px 20px 0px 0px;
    padding: 20px;    
    width: 100%;

}


.footerClass h6 {
    color: grey;
    text-align: center;
    text-decoration: underline;
    font-weight: bold; 
    font-size: 2.5rem;
}

.footerClass #about p {
    color: grey;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}

#aboutContent ul li {
    display: inline;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
}
